<html>
  <head>
    <title>List of Shows</title>
    <link rel="stylesheet" href="./public/stylesheets/style.css">
  </head>

  <body>
    <h1>List of Shows</h1>

    <div class='duplicates' style="color:blue;">
      <% if session[:duplicate] == true %>
        The show has already been added <br>
        <% end %>
    </div>

    <div class="show-listing">
      <% binding.pry %>
      <% session[:tv_shows].each do |show| %>
        <h3><%= show.title %> (<%= show.network %>)</h3></n>
        <h4>&emsp;<%= show.synopsis %>.  <%= show.genre %>.  <%= show.starting_year %></h4>
      <% end %>
    </div>

    <h2><a href="/television_shows/new">Enter a new Show Listing</a></h2>

    <h3><a href="/television_shows">Return to all Shows</a></h3>
  </body>
</html>
